@import "tailwindcss";

@theme {
  --color-body: #1a1b1b;
  --color-primary: #7979fe;
  --color-hover: #302c30;

  --font-secondary: "Titilium Web", sans-serif;
}

body {
  @apply bg-body text-white font-serif;
}
