@import "tailwindcss";

@theme {
  --color-body: #1a1b1b;
  --color-primary: #7979fe;
  --color-hover: #302c30;

  --font-secondary: "Titilium Web", sans-serif;

  --shadow-custom: 0 0 20px rgba(0, 0, 0, 0.4);
}

body {
  @apply bg-[#fff] dark:bg-body text-black dark:text-white font-serif;
}

*::selection {
  @apply bg-primary text-white;
}

span {
  @apply text-primary;
}

p {
  @apply font-medium text-lg;
}

h3 {
  @apply font-bold text-2xl;
}

ul {
  list-style: disc;
}

*::marker {
  @apply text-primary/60;
}
